deepchem==2.8.0
func_timeout==4.3.5
ipython==8.4.0
matplotlib==3.10.7
networkx==3.2.1
numpy==2.3.4
pandas==2.3.3
Pillow==12.0.0
rdkit==2025.3.6
rdkit_pypi==2022.3.5
scikit_learn==1.7.2
swifter==1.4.0
tqdm==4.67.1
utils==1.0.2
datasets>=3.0.0
